body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  max-width: 660px !important;
  margin: 0 auto;
  color: #fff;
}

header{
  padding: : 10px 10px;
  margin: 10px 10px;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.icon1{
  height:50px;
}

.store{
  display: inline-block;
  float: right;
}

.eyecatch{
  width: 100%;
  max-width: 100%;
}

.title_script{
  padding: 30px 28px 40px 28px;
}

.title_main{
  margin-bottom: 16px;
}

.description{
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.concept{
  background-color: #303030;
  padding: 40px 28px 32px 28px;
}

.conceptlogo{
  width: 80px;
  max-height: 100%;
  margin-right: 22px;
}

.bold{
  margin-bottom: 16px;

}

.conceptdescription{
  display: inline-block;
}

.fs12{
  margin: 0;
  font-size: 12px;
}
