body {
  flex-direction: column;
  background-color: #000;
  max-width: 100% !important;
  margin: 0 auto;
  color: #fff;
}

header{
  background-color: #000 !important;
  padding: 10px 10px !important;
  margin: 10px 10px;
  justify-content: space-between;
  height: 50px;
  display: flex;
  position: sticky;
  top: 0;
}  

.icon1{
  height:50px;
}

.store{
  display: inline-block;
}  

.container{
  max-width: 660px !important;
  padding: 0;
  margin: 0 auto;
}  

.eyecatch{
  width: 100%;
  object-fit: contain;
}

.title_script{
  padding: 30px 28px 40px 28px;
}

.title_main{
  margin-bottom: 16px;
}

.description{
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.concept{
  background-color: #303030;
  padding: 40px 28px 32px 28px;
}

.conceptlogo{
  width: 80px;
  max-height: 100%;
  margin-right: 22px;
}

.bold{
  margin-bottom: 16px;
}

.conceptdescription{
  display: inline-block;
}

.fs12{
  margin: 0;
  font-size: 12px;
}

.feasture{
  padding: 50px 0 40px 0;
  text-align: center;
}

.feature_title{
  color:#DE1E83;
  font-size: 20px;
}

.pointsvg{
  position: absolute;
  max-width: 100%;
}

.point1tag{
  position: absolute;
}

.iphone1{
  width:100%;
}

.point2tag{
  position:absolute;
}

.iphone2{
  width:100%;
}

.footer-contents{
  background-color: #303030;
  text-align: center;
  padding: 28px 30px 40px 30px;
}

.logo_horizontal{
  margin-bottom: 20px;
}

.appdownload{
  margin-bottom: 20px;
}

.footer-contents p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.mb32{
  margin-bottom: 32px !important;
}

.copyright{
  text-align: center;
  padding: 40px 0px;
}
