body {
  flex-direction: column;
  background-color: #000;
  max-width: 100% !important;
  margin: 0 auto;
  color: #fff;
}
p {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.container{
  max-width: 660px !important;
  padding: 0;
  margin: 0 auto;
}  

header {
  background-color: #000 !important;
  padding: 8px 16px !important;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
}    

.icon1 {
  height:42px;
}  

.store {
  height:40px;
  display:flex;

}    

.appstore {
  height:40px;
  margin-right:12px;
}

.googleplay {
  height:40px;
}

.eyecatch {
  width: 100%;
  object-fit: contain;
}

.title_script {
  padding: 30px 28px 40px 28px;
}

.title_main {
  margin-bottom: 16px;
}

.description {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.concept {
  background-color: #303030;
  padding: 40px 28px 32px 28px;
  font-size: 0px;
}

.conceptlogo {
  width: 80px;
  max-height: 100%;
  margin-right: 22px;
}

.bold {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
}

.conceptdescription {
  display: inline-block;
  vertical-align: top;
}

.fs12 {
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing:antialiased;
}

.feature_title {
  padding: 50px 0px 40px 0px;
}

.feasture {
  text-align: center;
}

.featuretitle {
  color:#DE1E83;
  font-size: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.pinkborder {
  height: 2px;
  width: 40px;
  margin: 0px auto 16px auto;
  background-color: #DE1E83;
}

.introduction {
  margin:0;
}

.pointsvg {
  position: absolute;
  max-width: 100%;
}

.point {
  position: relative;
  z-index: -100;
  margin-bottom: 100px;
}

.point1tag {
  position: absolute;
  left: 30px;
}

.iphone1 {
  width:100%;
}

.chapter1container {
  position: relative;
}

.chapter1 {
  position: absolute;
  top:-100px;
  text-align: left;
  padding: 0 30px;
}

.point2tag {
  position:absolute;
  left: 30px;
}

.iphone2 {
  width:100%;
}

.chapter2container {
  position: relative;
}

.chapter2 {
  position: absolute;
  top:-100px;
  text-align: left;
  padding: 0 30px;
}

.footer-contents {
  background-color: #303030;
  text-align: center;
  padding: 28px 30px 40px 30px;
}

.logo_horizontal {
  margin-bottom: 20px;
}

.logoimage {
  object-fit: contain;
  max-width: 172px;;
}

.logoimage {
  heigth: 40px;
}

.appdownload {
  margin-bottom: 20px;
  font-size: 14px;
  -webkit-font-smoothing:antialiased;
}

.footer-contents p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.mb32 {
  margin-bottom: 32px !important;
  -webkit-font-smoothing:antialiased;
}

.copyright {
  text-align: center;
  padding: 40px 0px;
  -webkit-font-smoothing:antialiased;
}
